[submodule "01-Data_Gathering"]
	path = 01-Data_Gathering
	url = https://github.com/EducationShinyAppTeam/01-Data_Gathering
[submodule "02-Data_Description"]
	path = 02-Data_Description
	url = https://github.com/EducationShinyAppTeam/02-Data_Description
[submodule "03-Basic_Probability"]
	path = 03-Basic_Probability
	url = https://github.com/EducationShinyAppTeam/03-Basic_Probability
[submodule "04-Statistical_Inference"]
	path = 04-Statistical_Inference
	url = https://github.com/EducationShinyAppTeam/04-Statistical_Inference
[submodule "05-Probability"]
	path = 05-Probability
	url = https://github.com/EducationShinyAppTeam/05-Probability
[submodule "06-Regression"]
	path = 06-Regression
	url = https://github.com/EducationShinyAppTeam/06-Regression
